@media (max-width: 766px) and (min-width: 300px){
    #fp-nav{
        right: 0px !important;
    }


    #name-container{
        margin-left: 20% !important;
        transform: translate(-25%, 0%);
    }

    #contact_section{
        .form-container{
            width: 80%;
            h1{
                font-size: 40px;
            }
        }
    }
}